body {
	margin: 5em;
	font-family: serif;
	font-size: 11pt;
	line-height: 150%;
}
h1 {
	text-transform: uppercase;
}
h1, h2, h3, h4 {
	font-size: 100%;
}
p {
	max-width: 640px;
}
blockquote {
	font-family: monospace;
}